<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="info.meihua.schedule.service.dao.IDemoDao">
    <select id="get" resultType="entity.demo.Demo">
        SELECT id,name,account_id accountId,user_id userId,gmt_create gmtCreate,gmt_modified gmtModified FROM demo where id=#{id}
    </select>
</mapper>